.main {
  &-contacts {
    @include setFontStyle('Mont', 22px, 400, $dark-grey, 170%);
  }

  .contacts {
    &__header {
      text-align: center;
      margin-bottom: 50px;
    }

    &__content {
      padding: 0 var(--lr-paddings);
      @include baseFlexStyle(normal, space-between);
    }

    &-map-wrapper {
      margin-left: 100px;
      flex-grow: 1;

      iframe {
        @include width-heigth(100%);
        vertical-align: middle;
      }
    }

    &-container {
      li {
        // @include baseFlexStyle(center);

        // &:not(:last-child) {
        //   margin-bottom: 10px;
        // }

        &:last-child {
          margin-bottom: 40px;
        }

        // &:last-child {
        //   & {
        //     margin-bottom: 40px;
        //   }

        //   :not(&) {
        //     margin-bottom: 10px;
        //   }
        // }

        // &:not(.contacts-soc-netw)::before {
        //   @include after-before-img('', 50px, 50px);
        //   margin-right: var(--header-margin-inner);
        // }

        &.contacts-soc-netw {
          display: flex;
        }

        a,
        div {
          @include baseFlexStyle(center);

          &::before {
            @include after-before-img('', 50px, 50px);
            margin-right: var(--header-margin-inner);
          }

          &.contacts {
            &-address {
              &::before {
                background-image: url('../images/contacts/location.svg');
              }
            }

            &-schedule {
              @include baseFlexStyle(flex-start);
              // @include baseFlexStyle(flex-start, $flex-direction: column);

              &::before {
                background-image: url('../images/contacts/clock.svg');
              }
            }

            &-telephone {
              &::before {
                background-image: url('../images/contacts/tel.svg');
              }
            }

            &-email {
              &::before {
                background-image: url('../images/contacts/message.svg');
              }
            }

            &-facebook {
              display: inline-flex;

              &::before {
                background-image: url('../images/contacts/facebook.svg');
              }
            }

            &-insta {
              display: inline-flex;
              margin-left: 40px;

              &::before {
                background-image: url('../images/contacts/insta.svg');
              }
            }
          }
        }
      }

      // a,
      // p {
      //   text-transform: none;
      //   color: $dark-grey;
      // }

      .contacts-text-content {
        text-transform: none;
        color: $dark-grey;
      }

      &-headers {
        color: $dark-violet;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    &-sb {
      margin-bottom: 60px;

      &__element {
        margin-bottom: 10px;
      }

      &__btn-link {
        @include link-btns(
          270px,
          70px,
          transparent,
          14px,
          $headers-color,
          400,
          1px solid $lavander
        );
      }
    }

    &-cb {
      &__element {
        margin-bottom: 10px;
      }
      // &__element {
      //   &:nth-last-child(-n + 2) {
      //     display: inline-block;
      //   }
      // }

      &__call-btn {
        @include link-btns(270px, 70px, $dark-violet, 14px, $light-grey, 400);
      }
    }
  }
}
