:root {
  // --ss-col-gap: 60px;
  --section-padding-bottom: 150px;
}

.main {
  &-home {
    section {
      padding: 0 var(--lr-paddings);
    }

    .start-section {
      display: grid;
      // grid-template-columns: repeat(3, auto);
      grid-template-columns: repeat(2, auto) 375px;
      grid-template-rows: 125px auto;
      padding-bottom: var(--section-padding-bottom);
      // --ss-col-gap: 60px;
      // column-gap: var(--ss-col-gap);

      // column-gap: 60px;

      // @include to(1366px) {
      //   --ss-col-gap: 110px;
      // }

      .first-column,
      .third-column {
        grid-row-start: 2;
      }

      .first-column {
        margin-right: 52px;

        &__header {
          // margin-bottom: 30px;
          // max-width: 98%;
          margin-bottom: var(--headers-margin-bottom);
        }

        &__text {
          max-width: 66%;
          margin-bottom: 40px;
        }

        &__btn-link {
          @include link-btns(270px, 70px, $dark-violet, 14px);
          // border-radius: 100px;
        }
      }

      .second-column {
        grid-column-start: 2;
        grid-row: 1 / 3;
        @include baseFlexStyle(flex-end, space-between, column);
        margin-right: 60px;

        &__img {
          @include setImgHeight(680px);
        }

        &__link {
          line-height: 100%;
          letter-spacing: 0.01em;
          color: $dark-grey;

          &:last-child {
            margin-left: 60px;
          }
        }
      }

      .third-column {
        grid-column-start: 3;

        &__text {
          margin-bottom: 36px;
        }
      }

      // .start-section-text {
      //   font-size: 16px;
      //   line-height: 170%;
      //   color: $text-color;
      // }

      // img {
      //   vertical-align: middle;
      // }
    }

    .lavanda-park {
      @include baseFlexStyle($justify-content: space-between);
      --paddins-tb: 270px;
      padding-top: var(--paddins-tb);
      padding-bottom: var(--paddins-tb);
      background: no-repeat url('../images/home/lavanda-park.jpg');
      background-size: cover;

      .left-side {
        width: 33%;

        &__header {
          @include setFontStyle('Cormorant Garamond', 110px, 400, $white-color, 100%, -0.01em);
        }
      }

      .right-side {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 130px;
        row-gap: 80px;

        &__cell {
          white-space: nowrap;
        }

        &__header {
          @include setFontStyle('Tenor Sans', 70px, 400, $white-color, 120%, $text-transform: none);
        }

        &__subheader {
          font-size: 16px;
          line-height: 160%;
          color: $light-grey;
        }
      }
    }

    .advantages-section {
      // --padding-top: 150px;
      // padding-top: var(--padding-top);
      padding-top: 150px;
      display: grid;
      // grid-template-columns: repeat(2, auto) 375px;
      grid-template-columns: auto 520px 375px;
      grid-template-rows: 92px auto 42px;
      column-gap: 60px;

      // .first-column,
      // .second-column {
      //   grid-row: 1 / 4;
      // }

      .first-column {
        grid-row: 1 / 3;
        @include baseFlexStyle($flex-direction: column, $justify-content: space-between);
        // display: grid;
        // grid-template-rows: repeat(3, auto);

        &__header {
          letter-spacing: -0.01em;
          color: $headers-color-two;
          // margin-bottom: 30px;
          margin-bottom: var(--headers-margin-bottom);
        }

        &__text {
          max-width: 66%;
          font-weight: 500;
          // font-size: 16px;
          // line-height: 170%;
          // color: $text-color;
        }

        &__btn-wrapper {
          @include baseFlexStyle(center);
        }

        &__btn {
          // @include slideBtns(70px, 70px, rgba(74, 58, 94, 0.15));
          @include slideBtns(rgba(74, 58, 94, 0.15));
          @include width-heigth(70px);

          &-img {
            // @include setImgWidth(6px);
            @include width-heigth(6px, 12px);
          }
        }

        &__slide-num {
          @include setFontStyle('Mont', 22px, 500, $dark-grey, 100%);
          margin: 0 40px;
        }
      }

      .second-column {
        grid-row: 1 / 4;
        &__img {
          // @include setImgWidth(520px);
          @include setImgWidth(100%);
        }

        &__nav-wrapper {
          width: 100%;
          height: 2px;
          background-color: rgba(74, 58, 94, 0.15);
          margin-top: 40px;
          position: relative;
        }

        &__nav-line {
          width: 142px;
          height: 100%;
          position: absolute;
          background-color: $dark-violet;
        }
      }

      .third-column {
        grid-row-start: 2;
        grid-column-start: 3;

        // &__img {
        //   @include setImgWidth(520px);
        // }
      }
    }

    .slider-section {
      // padding-top: 155px;
      // padding-bottom: 150px;
      padding: 155px 0 150px;
      margin: 0 120px;

      &__header {
        letter-spacing: -0.01em;
        color: $headers-color-two;
        margin-bottom: 104px;
        max-width: 70%;
      }

      &__controller {
        // @include width-heigth(110px);
        @include baseFlexStyle(center, center);
        border-radius: 50%;
        background-color: $dark-violet;
        // position: absolute;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        // transform: translate(-50%, -50%);
        // z-index: 20;
        @include width-heigth(0);
        // @include multiple-transitions(0.5s, ease-in-out, opacity, width, height);
        @include multiple-transitions(0.5s, ease-in-out, width, height);
        // transform: translate(-50%, -50%);

        &.active {
          @include width-heigth(110px);
          opacity: 1;
        }

        &.left-side {
          .slider-section__controller-arrow {
            order: -1;
            transform: rotate(180deg);
          }
        }

        // &.right {
        //   &-arrow {
        //     order: -1;
        //   }

        //   &-text {
        //     order: 1;
        //   }
        // }

        &-text {
          @include setFontStyle('Mont', 22px, 400, $light-grey, 100%);
          min-width: 55px;
          // margin-right: 9px;
          // opacity: 0;

          // &.active {
          //   transition: opacity 0.5s ease-in-out;
          //   opacity: 1;
          // }
        }

        &-arrow {
          // @include width-heigth(7px, 14px);
          @include setImgWidth(10px);
          order: 1;
          transition: 0.6s ease-in-out transform;
          // transform: rotate(0);
        }
      }

      &__slider-wrapper {
        position: relative;
        // margin: 0 120px;
        // overflow-x: hidden;
        overflow: hidden;
        // cursor: none;
      }

      &__slide {
        // height: 708px;
        @include setImgHeight(708px);

        &:not(:first-child) {
          padding-left: 60px;
        }
      }
    }

    .calm-place {
      padding: 150px 0;
      // padding: 0;
      background-color: $dark-violet;
      // display: grid;
      // grid-template: repeat(12, 1fr) / repeat(24, 1fr);
      // grid-template-areas:
      //   '. . . . . . . . . . . . . . . . . . . . . . . .'
      //   '. . . . . . . . . baby baby baby baby baby baby . . . . . . . . .'
      //   '. . . . . . . . . baby baby baby baby baby baby . . . . . . . . .'
      //   '. cup cup cup cup . . . . baby baby baby baby baby baby . . flower flower flower . . . .'
      //   '. cup cup cup cup . . . . . . . . . . . . flower flower flower . . . .'
      //   '. . . . . . header header header header header header header header header header . . . . . . . .'
      //   '. . . . . . header header header header header header header header header header . . . . brushes brushes brushes brushes'
      //   '. . . . . . . . . . . . . . . . . . . . brushes brushes brushes brushes'
      //   'family family family family family family family family . . book book book book book book book . . . . . . .'
      //   'family family family family family family family family . . book book book book book book book . . . . . . .'
      //   'family family family family family family family family . . book book book book book book book . . . . . . .'
      //   '. . . . . . . . . . . . . . . . . . . . . . . .';
      height: 1360px;
      &__content-wrapper {
        position: relative;
        @include baseFlexStyle(center, center, column);
        // display: grid;
        // grid-template-columns: ;
        height: 100%;
      }
      &__img {
        position: absolute;
      }

      &__header {
        @include setFontStyle('Cormorant Garamond', 100px, 400, $light-grey, 100%);
        margin-bottom: 30px;
        max-width: 50%;
        text-align: center;
        // grid-area: header;
      }

      &__link {
        @include link-btns(270px, 70px, $white-color, 14px, $headers-color-two);
      }

      .img {
        &-baby {
          // grid-area: baby;
          top: 0;
          @include setImgWidth(520px);
        }

        &-flower {
          // grid-area: flower;
          top: 200px;
          right: 265px;
          @include setImgWidth(230px);
        }

        &-brushes {
          right: 0;
          transform: translateY(120px);
          // grid-area: brushes;
          @include setImgWidth(265px);
        }

        &-book {
          // grid-area: book;
          bottom: 0;
          right: 410px;
          @include setImgWidth(520px);
        }

        &-family {
          left: 0;
          bottom: 0;

          // grid-area: family;
          @include setImgWidth(640px);
        }

        &-cup {
          // grid-area: cup;
          top: 200px;
          left: 120px;
          @include setImgWidth(375px);
        }
      }
    }

    .stocks-section {
      padding: 150px 0 0;
      @include baseFlexStyle(center, center);
      position: relative;

      &_abs {
        position: absolute;
        // left: 0;
        // top: 50%;
        // transform: translateY(-50%);
        width: 100%;
        // overflow: hidden;
        // white-space: nowrap;
      }

      &_abs-inn {
        // display: flex;
        @include baseFlexStyle($justify-content: space-between);
      }

      &__text-wrapper {
        // position: absolute;
        @include setFontStyle('Cormorant Garamond', 100px, 300, $stocks-color, 130%, -0.01em);
        // @include baseFlexStyle();
        // width: 100%;
        // white-space: nowrap;
        z-index: -1;
      }

      // &__text {
      //   padding-right: 60px;
      // }

      &__ampersand {
        padding: 0 60px;
      }

      .card {
        max-width: 520px;
      }
    }
  }
}
