.main {
  &-inner-stocks-news {
    padding-left: var(--lr-paddings);
    padding-right: var(--lr-paddings);
  }

  .isn {
    &-content-wrapper {
      @include baseGridStyle(auto, repeat(24, minmax(var(--popular-indent), 1fr)));
      @include tabletLarge {
        grid-template: auto/repeat(20, minmax(var(--popular-indent), 1fr));

      }
      @include notebook {
        display: flex;
        flex-direction: column;
      }
    }

    &__back-link {
      &-wrapper {
        grid-column: 1 / 3;
        @include tabletLarge {
          display: none;
        }
      }

      & {
        @include baseFlexStyle(center);
        font-weight: 400;
        line-height: 100%;
        color: $dark-grey;

        &::before {
          @include after-before-img('../images/stocks-news/inner/back.svg', 70px, 70px);
          margin-right: 20px;
        }
      }
    }

    &__content {
      grid-column: 4 / 22;
      // margin-bottom: 30px;
      @include tabletLarge {
        grid-column: 1 / 22;
      }
    }

    &__header {
      text-align: center;
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 40px;
      }
      @include mobile {
        margin-bottom: 20px;
      }

    }

    &__date {
      @include setFontStyle('Mont', 20px, 400, $dark-violet, 100%);
      text-align: center;
      margin-bottom: 50px;
      @include tablet {
        font-size: 16px;
        margin-bottom: 40px;
      }
      @include mobile {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    &__slider-img {
      @include setImgWidth(100%);
      margin-bottom: 50px;
    }

    &__text {
      @include setFontStyle('Mont', 16px, 400, $text-color, 170%, $text-transform: none);
      @include tablet {
        font-size: 14px;
        margin-bottom: 30px;    
      }
      @include mobile {
        font-size: 12px;
        margin-bottom: 20px;
      }
      &:last-child {
        @include tablet {
          margin-bottom: 0;
        }

      }
      &-wrapper {
        margin-bottom: 50px;
        @include mobile {
          margin-bottom: 40px;
        }
      }

      &_link {
        text-decoration: underline;
        color: $dark-violet;
      }
    }

    &__element {
      list-style-type: disc;
      list-style-position: inside;
    }

    &__btn-link {
      margin-bottom: 120px;
      @include tablet {
        margin-bottom: 80px;    
      }
      @include mobile {
        margin-bottom: 40px;
      }
    }

    &__video {
      &-wrapper {
        position: relative;
        margin-bottom: var(--sec-btm-indent);
        @include mobile {
          margin-bottom: 60px;
        }
      }

      & {
        @include setImgWidth(100%);
        vertical-align: middle;
      }

      &-btn-play {
        @include baseFlexStyle();
        @include abs-position();
        @include from(1025px){
          &:before {
            transition: .25s ease-out;
            transform-origin: center;
          }
          &:hover:before {
            transform: scale(1.1);
          }
        }
        &::before {
          @include after-before-img('../images/stocks-news/inner/play.svg', 110px);
          @include mobile {
            height: 45px;
            width: 45px;
            background-size: 45px 45px;
          }
        }
      }
    }

    &__stocks-news-header {
      text-align: center;
    }

    &__cards-wrapper {
      @include baseFlexStyle($justify-content: center);
      @include tablet {
        flex-direction: column;
      }

      .card {
        &-link {
          flex: 0 0 520px;
          margin-top: var(--popular-indent);
          @include tablet {
            flex: 0 0 420px; 
            width: 100%;   
          }
          @include mobile {
            flex: 0 0 330px;
          }

          &:nth-child(2n) {
            margin-left: var(--popular-indent);
            @include tablet {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
