.progress {
  &__header {
    text-align: center;
    margin-bottom: 60px;
    @include mobile {
      margin-bottom: 40px;      
    }
  }

  &__content {
    padding: 0 var(--lr-paddings);
    @include baseFlexStyle($justify-content: space-between);
    @include tablet {
      flex-direction: column;     
    }
  }

  &__filter {
    @include baseFlexStyle($flex-direction: column);
    width: 25%;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      margin-bottom: 40px;       
    }
  }
  &__result {
    width: 70%;
    @include tablet {
      width: 100%;
      margin-top: 40px;
    }
    @include mobile {
      margin-top: 0;
    }
  }

  &__cards-wrapper {
    @include grid-card-content(repeat(3, minmax(420px, 1fr)), repeat(2, 1fr), 420px);
    margin-bottom: 60px;
    @include tablet {
      display: block;
      margin-bottom: 40px;
    }
    @include mobile {
      margin-bottom: 40px;        
    }
  }

  &__btn-wrapper {
    @include baseFlexStyle($justify-content: center);
  }

  &__load-more-btn {
    @include link-btns(270px, 70px, $dark-violet, 14px, $light-grey);@include tablet {
      font-size: 15px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include mobile {
      width: 170px;
      height: 45px;
      font-size: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.filter {
  &__label {
    position: relative;
    @include baseFlexStyle($flex-direction: column);
    width: 100%;
    pointer-events: none;
    &:not(:last-child) {
      margin-bottom: 40px;
      @include tablet {
        margin-bottom: 30px;
      }
      @include mobile {
        margin-bottom: 20px;    
      }
    }

    &-text {
      @include setFontStyle('Mont', 20px, 400, $headers-color, 100%);
      border-bottom: 1px solid $headers-color;
      margin-bottom: 15px;
      cursor: pointer;
      @include multiple-transitions(0.3s, ease-in-out, color, border-color);
      @include tablet {
        font-size: 16px;
      }
      @include mobile {
        font-size: 14px;
        margin-bottom: 10px;        
      }

      &:hover {
        border-color: $dark-violet;
        color: $dark-violet;
      }
    }
  }

  &__input {
    @include resetInputStyles;
  }
}

.irs {
  &--flat {
    width: 100%;

    .irs-bar {
      background-color: $dark-violet;
      height: 2px;
      top: 0;
    }

    // .irs-handle > i:first-child,
    // .irs-handle:hover > i:first-child {
    //   background-color: $dark-violet;
    // }

    .irs-handle {
      & {
        cursor: pointer;
        // background-color: $dark-violet;
        // top: 25px;
        top: 0;
        @include after-before-img('../images/progress/rangeHandler.svg', 7px, 12px);
        @include tablet {
          height: 9px;
          width: 5px;
          background-size: 5px 9px;
        }
        // width: 7px;
        // height: 12px;
      }

      & > i:first-child,
      &:hover > i:first-child {
        // background-color: $dark-violet;
        display: none;
      }
    }

    .irs-line {
      height: 2px;
      top: 0;
    }

    .irs-single {
      @include setFontStyle('Mont', 20px, 500, $dark-grey, 100%);
      background-color: transparent;
      border-radius: 0;
      top: 17px;
      padding: 0 5px;
      // transform: translateY(100%);
      @include tablet {
        font-size: 16px;
      }
      @include mobile {
        font-size: 14px;    
      }

      &:before {
        display: none;
      }

      &::after {
        content: '%';
      }
    }
  }

  &-min,
  &-max {
    display: none;
  }
}

.purple-block {
  background: $lavander;
  border-radius: 15px 15px 15px 0px;
  padding: 23px 30px;
  padding-right: 0;
  min-width: 316px;
  position: absolute;
  transform: translateY(-100%);
  top: -30px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  @include multiple-transitions(0.3s, ease-in-out, visibility, opacity);

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &::before {
    content: '';
    display: block;
    // background-color: $lavander;
    // border: 24px solid transparent;
    // border-bottom: 0;
    border-style: solid;
    border-width: 11px 11.5px 0 11.5px;
    border-color: $lavander transparent transparent transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  &__par {
    @include setFontStyle('Mont', 14px, 400, $white-color, 100%, 0.01em, none);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.icon- {
  &-purple-block-close {
    @include width-heigth(10px);
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
