ul.breadcrumbs
  li.breadcrumbs-item
    a(href="./index.html").breadcrumbs-item__link Головна
    +svg('dot')
  if breadcrumbsSubitem
    each v in breadcrumbsSubitem
      li.breadcrumbs-item
        a(href= v.link).breadcrumbs-item__link= v.label
        +svg('dot')
  li.breadcrumbs-item__current--color.breadcrumbs-item= title_page
