.call
    .call-block 
       .call-block__header 
        button.call-block__close-btn.js-call-close
       .call-block__content 
        p.call-block__header-text.headers замовити дзвінок
        form.call-block__form
            input.call-block__input(type="text" name="name" placeholder="Ваше ім‘я")
            input.call-block__input(type="tel" name="phone" placeholder="Телефон")
            .call-block__checkbox-wrapper
                input.call-block__checkbox(checked type="checkbox" id="agree" name="agree") 
                span.call-block__checkbox-custom
                label.call-block__checkbox-label(for="agree") Я погоджуюся з умовами обробки персональних даних
            input.call-block__submit(type="submit")