.call-page
  .call-block 
    .call-block__header
      a.call-block__tel(href="tel:+38 (067) 954 43 25") +38 (067) 954 43 25
      button.call-block__call-btn замовити дзвінок
      button.call-block__close-btn.js-cp-close
    .call-block__content
      ul.call-block__list
        li.call-block__element 
          a.call-block__link(href="./index.html") Головна
        li.call-block__element
          a.call-block__link(href="#") Квартири
        li.call-block__element
          a.call-block__link(href="#") Про комплекс
        li.call-block__element
          a.call-block__link(href="#") Галерея
        li.call-block__element
          a.call-block__link(href="#") Хід будівництва
        li.call-block__element
          a.call-block__link(href="#") Акції та новини
        li.call-block__element
          a.call-block__link(href="./contacts.html") Контакти
    .call-block__footer
      .call-block__soc-netw
        a.call-block__soc-link.call-block__soc-link_facebook(href="#") facebook
        a.call-block__soc-link.call-block__soc-link_insta(href="#") instagram
      button.call-block__lang-btn ua