footer.footer 
  aside.footer-menu 
    ul.footer-list
      li.footer-element 
        a.footer-link(href="./index.html") Головна
      li.footer-element
        a.footer-link(href="#") Квартири
      li.footer-element
        a.footer-link(href="#") Про комплекс
      li.footer-element
        a.footer-link(href="#") Галерея
      li.footer-element
        a.footer-link(href="#") Хід будівництва
      li.footer-element
        a.footer-link(href="#") Акції та новини
      li.footer-element
        a.footer-link(href="#") Контакти
    p.footer-copyright © Усі права захищено.#[br] Lavanda park 2022
  .footer-content
    //- table.footer-table 
    //-   tr.footer-row
    //-     td.footer-cell 
    //-       p.
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-   tr.footer-row
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-   tr.footer-row
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-   tr.footer-row
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-     td.footer-cell 
    //-     td.footer-cell 
    .footer-bottom
      p.footer-bottom__text Не є публічною офертою. Візуалізації та планування об’єкту є орієнтовними. Забудовник має право вносити зміни згідно з діючим законодавством.
      a.footer-bottom__link(href="https://smarto.agency/")
        img.footer-bottom__img(src="./assets/images/footer/smartora-logo.jpg", alt="Smart Orange")