footer.footer 
  aside.footer-menu 
    ul.footer-list
      li.footer-element 
        a.footer-link(href="./index.html") Головна
      li.footer-element
        a.footer-link(href="#") Квартири
      li.footer-element
        a.footer-link(href="#") Про комплекс
      li.footer-element
        a.footer-link(href="#") Галерея
      li.footer-element
        a.footer-link(href="#") Хід будівництва
      li.footer-element
        a.footer-link(href="#") Акції та новини
      li.footer-element
        a.footer-link(href="#") Контакти
    p.footer-copyright © Усі права захищено.#[br] Lavanda park 2022
  .footer-content
    .footer-top 
      //- .footer-row 
      //-   p.footer-row__name Відділ продажу: 
      //-   p.footer-row__address м. Вінниця, вул. Шевченка 4
      //-   .footer-row__schedule
      //-     p.footer-row__schedule-days Пн-Сб: 09:00-19:00
      //-     p.footer-row__schedule-days Нд: 10:00-17:00 
      //-   a.footer-row__map(href="#") переглянути на карті
      //-   button.footer-to-top 
      //-     img.footer-arrow(src="./assets/images/footer/arrow-to-top.png" alt="Arrow to top")
      //- .footer-row 
      //-   p.footer-row__name Зв’язок: 
      //-   //- a.footer-row__tel(href="tel:+38 (067) 954 43 25") +38 (067) 954 43 25

      //-   .footer-row__soc-network
      //-     a.footer-row__facebook(href="#") Facebook
      //-     a.footer-row__insta(href="#") Instagram 
      //-   button.footer-row__call-btn замовити дзвінок
      table.footer-table 
        tr.footer-row
          td.footer-cell 
            p.footer-cell__name Відділ продажу: 
          td.footer-cell
            p.footer-cell__address м. Вінниця, вул. Ватутіна  16 Б
          td.footer-cell 
            a.footer-cell__map(href="#") переглянути на карті
          td.footer-cell 
            button.footer-to-top 
              img.footer-arrow(src="./assets/images/footer/arrow-to-top.png" alt="Arrow to top")
        tr.footer-row
          td.footer-cell 
          td.footer-cell
            .footer-cell__schedule
              p.footer-cell__schedule-text Пн-Сб: 09:00-19:00
              p.footer-cell__schedule-text Нд: 10:00-17:00 
          td.footer-cell 
          td.footer-cell 
        tr.footer-row
          td.footer-cell
            p.footer-cell__name Зв’язок:
          td.footer-cell 
            .footer-cell__contacts 
               a.footer-cell__tel(href="tel:+38 (067) 954 43 25") +38 (067) 954 43 25
               a.footer-cell__email(href="mailto:lavandapark@gmail.com") lavandapark@gmail.com
          td.footer-cell
            button.footer-cell__call-btn замовити дзвінок
          td.footer-cell 
        tr.footer-row
          td.footer-cell 
          td.footer-cell
            .footer-cell__soc-netw
              a.footer-cell__facebook(href="" target="_blank") Facebook
              a.footer-cell__insta(href="" target="_blank") Instagram
          td.footer-cell 
          td.footer-cell 
    .footer-bottom
      p.footer-bottom__text Не є публічною офертою. Візуалізації та планування об’єкту є орієнтовними. Забудовник має право вносити зміни згідно з діючим законодавством.
      a.footer-bottom__link(href="https://smarto.agency/")
        img.footer-bottom__img(src="./assets/images/footer/smartora-logo.jpg", alt="Smart Orange")