footer.footer
  p.footer-copy © 2021 BEREG Residence
  .footer-social
      a(href='fb').social
        +svg('fb')
      a(href='instagram').social
        +svg('instagram')
      a(href='youtube').social
        +svg('youtube')
  .footer-dev
    .footer-dev__text Розробка сайту
    a(href="https://smarto.agency/" rel="nofollow" target="_blank").footer-dev__link Smart Orange
