.gallery-pop-up
  .pop-up-content 
    .pop-up-main-slide.swiper-gallery.swiper
      .slider-controller.js-slider-controller
          .swiper-pagination.slider-controller-text
          img.slider-controller-arrow(src="./assets/images/home/slider-section/arrow.svg" alt="Arrow")
      .swiper-wrapper.js-slider-wrapper
    .pop-up-slides
      .pop-up-slides__content.js-slides-content.swiper-wrapper
  .pop-up__btn-wrapper
    button.pop-up__close-btn.js-close-pop-up
      <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle class="hover" cx="35" cy="35" r="35" fill="#4A3A5E"/>
        <circle class="default" cx="35" cy="35" r="35" fill="#4A3A5E"/>
        <path d="M41 41L29 29M29 41L41 29L29 41Z" stroke="#F9F8FC" stroke-width="1.5"/>
        </svg>