.gallery-pop-up
  .pop-up-content 
    .pop-up-main-slide.swiper-gallery.swiper
      .slider-controller.js-slider-controller
          .swiper-pagination.slider-controller-text
          img.slider-controller-arrow(src="./assets/images/home/slider-section/arrow.svg" alt="Arrow")
      .swiper-wrapper.js-slider-wrapper
    .pop-up-slides
      .pop-up-slides__content.js-slides-content
  .pop-up__btn-wrapper
    button.pop-up__close-btn.js-close-pop-up