.gallery-pop-up
  .pop-up-content.swiper
    .pop-up-main-slide.swiper-wrapper
      .swiper-slide
        img.slide-img(src="./assets/images/gallery/slider/2.jpg", alt="Gallery slide img")
    .pop-up-slides.swiper-wrapper
      .swiper-slide
        img.slide-img(src="./assets/images/gallery/slider/2.jpg", alt="Gallery slide img")
      .swiper-slide
        img.slide-img(src="./assets/images/gallery/slider/3.jpg", alt="Gallery slide img")
      .swiper-slide
        img.slide-img(src="./assets/images/gallery/slider/4.jpg", alt="Gallery slide img")
      .swiper-slide
        img.slide-img(src="./assets/images/gallery/slider/5.jpg", alt="Gallery slide img")
      .swiper-slide
        img.slide-img(src="./assets/images/gallery/slider/6.jpg", alt="Gallery slide img")
      .swiper-slide
        img.slide-img(src="./assets/images/gallery/slider/7.jpg", alt="Gallery slide img")
  .pop-up__btn-wrapper
    button.pop-up__close-btn