header.header 
  .header-left
    a.header-left__link-houses(href="#") квартири
    a.header-left__link-tel(href="#") +38 (067) 954 43 25
  a.header__logo-link(href="#")
    svg 
  .header-right
    button.header-right__btn-call замовити дзвінок
    button.header-right__btn-menu меню