header.header 
  .header-left
    a.header-left__link.header-link-houses(href="#") квартири
    a.header-left__link.header-link-tel(href="tel:+38 (067) 954 43 25") +38 (067) 954 43 25
  a.header__logo-link(href="/index.html")
    img.header__logo-img(src="/assets/images/header/logo.svg")
  .header-right
    button.header-right__btn.header-btn-call.js-btn-call замовити дзвінок
    button.header-right__btn.header-btn-menu меню