.menu
  .menu-block 
    .menu-block__header
      a.menu-block__tel(href="tel:+38 (067) 954 43 25") +38 (067) 954 43 25
      button.menu-block__call-btn.js-btn-call замовити дзвінок
      button.menu-block__close-btn.js-menu-close
    .menu-block__content
      ul.menu-block__list
        li.menu-block__element 
          a.menu-block__link(href="./index.html") Головна
        li.menu-block__element
          a.menu-block__link(href="./404.html") Квартири
        li.menu-block__element
          a.menu-block__link(href="./about.html") Про комплекс
        li.menu-block__element
          a.menu-block__link(href="./gallery.html") Галерея
        li.menu-block__element
          a.menu-block__link(href="./progress.html") Хід будівництва
        li.menu-block__element
          a.menu-block__link(href="./stocks-news.html") Акції та новини
        li.menu-block__element
          a.menu-block__link(href="./contacts.html") Контакти
    .menu-block__footer
      .menu-block__soc-netw
        a.menu-block__soc-link.menu-block__soc-link_facebook(href="#") facebook
        a.menu-block__soc-link.menu-block__soc-link_insta(href="#") instagram
      button.menu-block__lang-btn ua