.progress-pop-up
  .pop-up__btn-wrapper
    button.pop-up__close-btn.js-close-progress-pop-up
  .pop-up__left-side 
  //- .pop-up__text-content
  p.pop-up__header 
    span.pop-up__header-month листопад
    span.pop-up__header-year 2021
  .pop-up__text-wrapper 
    span.pop-up__text Завершені роботи по облаштуванню кровель на експлуатованих террасах 2 і 3 поверхів;
    ul.pop-up__list 
      li.pop-up__element Смонтували нержавеючі стійки під стекляне ограждение на террасах 2го и 3го этажей;
      li.pop-up__element Виполняется пристрій плитки на террасах 2, 3, 5, 16 поверхів-35%;
      li.pop-up__element Заавансовані та запущені в виготовлення конструкцій для обслуговування головного фасаду;
      li.pop-up__element Выполняется разуклонка и гидроизоляция кровли на пристроенном паркинге, там, где будет парковая зона- 60%;
      li.pop-up__element Завершаем подготовку для монтажа в 3х оставшихся шахтах под пассажирские лифты-65%;
      li.pop-up__element Смонтували нержавеючі стійки під стекляне ограждение на террасах 2го и 3го этажей;
      li.pop-up__element Завершается подготовка мест общего пользования под чистовую отделку-70%;
      li.pop-up__element Выполняется разуклонка и гидроизоляция кровли на пристроенном паркинге, там, где будет парковая зона- 60%;
  //- .pop-up__right-side
  .pop-up__slider.swiper 
    .pop-up__slider-wrapper.swiper-wrapper 
      .pop-up__slider-slide.swiper-slide 
        img.pop-up__slider-img(src="./assets/images/progress/slider/1.jpg", alt="Progress of building")
      .pop-up__slider-slide.swiper-slide 
        img.pop-up__slider-img(src="./assets/images/progress/slider/2.jpg", alt="Progress of building")
      .pop-up__slider-slide.pop-up__slider-slide_video.swiper-slide 
        img.pop-up__slider-play(src="./assets/images/progress/slider/play.svg", alt="Play")
        video.pop-up__slider-video(poster="./assets/images/progress/slider/3.jpg")
          source.pop-up__slider-src(src="" type="")
  .pop-up__slider-btn-wrapper
    button.pop-up__slider-btn.left-btn
      img.pop-up__slider-btn-img(src="./assets/images/home/left-arrow.svg")
    .pop-up__slide-num
      //- span.pop-up__slide-num
      //- span.pop-up__slide-numero-hidden
      //-   span.pop-up__curr-slide 01
      //-   span.pop-up__divider /
      //-   span.pop-up__all-slides 14
      .swiper-pagination
    button.pop-up__slider-btn.right-btn
      img.pop-up__slider-btn-im(src="./assets/images/home/right-arrow.svg")
  .pop-up__hidden-content HIDDEN CONTENT