extends ../layout/main
	
block meta
	title= '404'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')

block content
	.page404
		img.page404__img(src="./assets/images/404/404.png" alt="404")
		p.page404__text Упс, щось пішло не так :(
		.page404__btns-wrapper
			a.page404__back-link.white-btn-link(href="javascript:history.back();") Повернутись назад
			a.page404__home-link.violet-btn-link(href="./index.html") на головну

block footer
		include ../includes/footer.pug

block header
		include ../includes/header.pug

block menu
	include ../includes/menu.pug

block call
	include ../includes/call.pug


