
extends ../layout/main
block variable
  -
    var title_page = 'Про комплекс'
    var id_page = 'id-page-about'
    var class_page = 'class-page-about'
    //- var breadcrumbsSubitem = [
    //-   {
    //-     label: 'About',
    //-     link: pagesLink[0].about
    //-   }
    //- ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/about.bundle.js')
block content
  main.main.main-about
    block breadcrumbs
      include ../includes/breadcrumbs.pug
    p.about__header.headers про комплекс
    .about__content 
      img.about__main-img.about-section-content.lr-paddings(src="./assets/images/about/main-img.jpg", alt="Building complex")
      section.philosophy.about-section-content.lr-paddings
        p.philosophy__header.about-headers Філософія комплексу
        p.philosophy__left-text Для вашого комфорту ми продумали кожну деталь не лише будинків, а й навколишньої території. Все, що вам знадобиться, буде під рукою і ви зможете швидше та простіше вирішувати побутові питання, а благоустрій території дозволить насолоджуватися гарними краєвидами щодня! ЖК Lavanda Park – справжній простір сили, енергії та процвітання для Вас та Вашої родини!
        //- .philosophy__right-text-wrapper
        p.philosophy__right-text.philosophy__right-text_left Всім з   дитинства знайоме почуття Коли хочеться усамітнитися, створити  свій милий серцю куточок.
        p.philosophy__right-text.philosophy__right-text_right З віком   запитів стає набагато більше: вид з вікна, привітні сусіди,   безпечні майданчики для дітей, супермаркети на першому поверсі,   хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
        img.philosophy__img(src="./assets/images/about/philosophy-img.jpg", alt="Girl`s in kitchen")
      section.describe
        p.describe__header.about-headers Опис жк lavanda park
        p.describe__right-text «Lavanda Park» – житловий комплекс комфорт класу Із власною новітньою інфраструктурою Розташований у мікрорайоні Тяжилів, в оточенні парку Інтеграл з великим стадіоном та озера
        //- figure.describe__figure
        //-   img.describe__img(src="./assets/images/about/dad-and-son.jpg", alt="Dad and son")
        //-   figcaption.describe__figcaption Тут міське життя поєднується із перевагами життя на природі: ранкові пробіжки, прогулянки із сім'єю, велосипедні маршрути.
        //- figure.describe__figure
        //-   img.describe__img(src="./assets/images/about/complex-from-top.jpg", alt="Complex from top")
        //-   figcaption.describe__figcaption Проєкт представлений трьома десятиповерховими будинками, по 4 секції в кожному та одним окремим десятиповерховим будинком біля озера.
        img.describe__img.describe__img_left(src="./assets/images/about/dad-and-son.jpg", alt="Dad and son")
        p.describe__figcaption.describe__figcaption_left Тут міське життя поєднується із перевагами життя на природі: ранкові пробіжки, прогулянки із сім'єю, велосипедні маршрути.
        img.describe__img.describe__img_right(src="./assets/images/about/complex-from-top.jpg", alt="Complex from top")
        p.describe__figcaption.describe__figcaption_right Проєкт представлений трьома десятиповерховими будинками, по 4 секції в кожному та одним окремим десятиповерховим будинком біля озера.
        .describe__background
      section.advantages.about-section-content
        p.advantages__header.about-headers переваги
        .advantages__content-wrapper 
          .advantages__content-left
            .about-text-slider
              .about-text-slider__wrp.swiper-wrapper
                .swiper-slide.about-text-slider__item
                  p.advantages__text На перших поверхах - будуть розташовані магазини, салон краси, кав’ярня, аптека, пекарня для комфортного проживання та щасливого майбутнього кожної сім'ї.
                .swiper-slide.about-text-slider__item
                  p.advantages__text Усередині комплексу будуть створені дитячі ігрові комплекси та спортивні майданчики, зелені зони, засаджені деревами, декоративними кущами та клумбами з ніжною ароматною лавандою.
            .advantages__btn-wrapper
              button.advantages__btn.left-btn.about-slider-prev
                img.advantages__btn-img(src="./assets/images/about/left-arrow.svg")
              span.advantages__slide-num 
                span.advantages__curr-slide 01
                span.advantages__divider /
                span.advantages__all-slides 06
              button.advantages__btn.right-btn.about-slider-next
                img.advantages__btn-img(src="./assets/images/about/right-arrow.svg")
          .advantages__content-right  
            .about-slider
              .advantages-slider__wrp.swiper-wrapper
                .swiper-slide.advantages-slider__item
                  img(src="./assets/images/about/slider/1.jpg", alt="Parking")
                .swiper-slide.advantages-slider__item
                  img(src="./assets/images/about/slider/2.png", alt="Parking")
            .advantages__btn-wrapper.advantages__btn-wrapper-mobile
              button.advantages__btn.left-btn.about-slider-prev
                img.advantages__btn-img(src="./assets/images/about/left-arrow.svg")
              span.advantages__slide-num 
                span.advantages__curr-slide 01
                span.advantages__divider /
                span.advantages__all-slides 06
              button.advantages__btn.right-btn.about-slider-next
                img.advantages__btn-img(src="./assets/images/about/right-arrow.svg")
            .advantages__nav-wrapper 
              .advantages__nav-line
      section.infra.lr-paddings
        p.infra__header.about-headers Інфраструктура
        .infra__right-text.infra__right-text_left Безпосередньо поруч із будинками знаходиться парк Інтеграл з великим стадіоном, за ним – озеро
        .infra__right-text.infra__right-text_right Поруч із комплексом знаходяться декілька зупинок громадського транспорту, які дозволять дістатися будь-якої частини Вінниці. 
        .infra__map-wrapper
          ul.infra__map-icons-list
            li.infra__map-icons-element.js-icons-element 
              span.infra__map-icons-text Дитячий садочок
            li.infra__map-icons-element.js-icons-element 
              span.infra__map-icons-text Дитячий садочок
            li.infra__map-icons-element.js-icons-element 
              span.infra__map-icons-text Дитячий садочок
            li.infra__map-icons-element.js-icons-element 
              span.infra__map-icons-text Дитячий садочок
            li.infra__map-icons-element.js-icons-element 
              span.infra__map-icons-text Дитячий садочок
            li.infra__map-icons-element.js-icons-element 
              span.infra__map-icons-text Дитячий садочок
            li.infra__map-icons-element.js-icons-element 
              span.infra__map-icons-text Дитячий садочок
            li.infra__map-icons-element.js-icons-element 
              span.infra__map-icons-text Дитячий садочок
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.695980884607!2d28.531459015688142!3d49.24425297932725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5b2bffc922cd%3A0xdc3b5e4ebaafffea!2z0LLRg9C70LjRhtGPINCS0LDRgtGD0YLRltC90LAsIDE20LEsINCS0ZbQvdC90LjRhtGPLCDQktGW0L3QvdC40YbRjNC60LAg0L7QsdC70LDRgdGC0YwsIDIxMDAw!5e0!3m2!1suk!2sua!4v1644497540944!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy")
        .infra__bottom-text-content
          .infra__subheader У пішій доступності знаходиться вся необхідна для життя інфраструктура:
          ul.infra__list
            li.infra__element для дітей - дитячий садок №14, школа №27
            li.infra__element за лікарською допомогою ви зможете звернутися до амбулаторії №1
            li.infra__element купити продукти поблизу можна у супермаркеті «АТБ-Маркет» або на ринку Мрія.
            li.infra__element Крім цього, інфраструктура мікрорайону, де розташований житловий комплекс, включає продуктові та господарські магазини, кафе та ресторани, аптеки, відділення банків, АЗС.
        img.infra__img(src="./assets/images/about/kindergarten.jpg", alt="Kindergarten")
      section.charact.about-section-content.lr-paddings
        p.charact__header.about-headers характеристики
        .charact__content 
          figure.charact__figure 
            img.charact__img(src="./assets/images/about/brick.svg", alt="Brick")
            figcaption.charact__figcaption Стіни з цегли, утеплені мінеральною ватою. Декоративне оздоблення фасадів.
          figure.charact__figure 
            img.charact__img(src="./assets/images/about/heater.svg", alt="Heater")
            figcaption.charact__figcaption У кожній квартирі індивідуальне опалення, встановлені газові двоконтурні котли.
          figure.charact__figure 
            img.charact__img(src="./assets/images/about/window.svg", alt="Window")
            figcaption.charact__figcaption Завдяки великим панорамним вікнам та заскленим лоджіям, у кожній квартирі буде багато сонячного світла.
          figure.charact__figure 
            img.charact__img.charact__img_conditioner(src="./assets/images/about/conditioner.svg", alt="Conditioner")
            figcaption.charact__figcaption Щоб хаотично встановлені кондиціонери не псували фасади, передбачено кошики для їх монтажу
        .charact__btn-wrapper
          a.charact__btn-link(href="#") обрати квартиру

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug

block menu
  include ../includes/menu.pug

block call
  include ../includes/call.pug
