
extends ../layout/main
block variable
  -
    var title_page = 'Контакти'
    var id_page = 'id-page-contacts'
    var class_page = 'class-page-contacts'
    //- var breadcrumbsSubitem = [
    //-   {
    //-     label: 'About',
    //-     link: pagesLink[0].about
    //-   }
    //- ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/contacts.js')
block content
  main.main.main-contacts
    block breadcrumbs
      include ../includes/breadcrumbs.pug
    p.contacts__header.headers контакти
    .contacts__content
      .contacts-container 
        //- sb - sales-block
        .contacts-sb 
          .contacts-sb__header.contacts-container-headers Відділ продажу: 
          ul.contacts-sb__list
            li.contacts-sb__element
              a.contacts-sb__link.contacts-text-content.contacts-address(href="https://goo.gl/maps/bn97bnty8pZQcHKm7" target="_blank") м. Вінниця, вул. Ватутіна  16 Б
            li.contacts-sb__element 
              .contacts-sb__schedule.contacts-schedule
                schedule-wrapper
                  p.contacts-sb__schedule-elem.contacts-text-content Пн-Сб: 09:00-19:00
                  p.contacts-sb__schedule-elem.contacts-text-content Нд: 10:00-17:00 
          a.contacts-sb__btn-link(href="https://goo.gl/maps/bn97bnty8pZQcHKm7" target="_blank") переглянути на карті
        //- cb - contacts-block
        .contacts-cb__header.contacts-container-headers Зв’язок:
        ul.contacts-cb__list
          li.contacts-cb__element  
            a.contacts-cb__link.contacts-text-content.contacts-telephone(href="tel:+38 (096) 421 80 00") +38 (096) 421 80 00
          li.contacts-cb__element 
            a.contacts-cb__link.contacts-text-content.contacts-telephone(href="tel:+38 (093) 421 80 00") +38 (093) 421 80 00
          li.contacts-cb__element 
            a.contacts-cb__link.contacts-text-content.contacts-email(href="mailto:zklavandapark@gmail.com") zklavandapark@gmail.com
          li.contacts-cb__element.contacts-soc-netw
            a.contacts-cb__link.contacts-text-content.contacts-facebook(href="#" target="_blank") Facebook
            a.contacts-cb__link.contacts-text-content.contacts-insta(href="#" target="_blank") Instagram
        button.contacts-cb__call-btn.js-btn-call.js-mobile-popup-call замовити дзвінок
      .contacts-map-wrapper 
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.695980884607!2d28.531459015688142!3d49.24425297932725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5b2bffc922cd%3A0xdc3b5e4ebaafffea!2z0LLRg9C70LjRhtGPINCS0LDRgtGD0YLRltC90LAsIDE20LEsINCS0ZbQvdC90LjRhtGPLCDQktGW0L3QvdC40YbRjNC60LAg0L7QsdC70LDRgdGC0YwsIDIxMDAw!5e0!3m2!1suk!2sua!4v1644497540944!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy")
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug

block menu
  include ../includes/menu.pug

block call
  include ../includes/call.pug
