
extends ../layout/main
block variable
  -
    var title_page = 'Галерея'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'
    //- var breadcrumbsSubitem = [
    //-   {
    //-     label: 'About',
    //-     link: pagesLink[0].about
    //-   }
    //- ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/gallery.js')
block content
  main.main.main-gallery
    block breadcrumbs
      include ../includes/breadcrumbs.pug
    p.gallery__header.headers галерея
    .gallery__content
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/1.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/2.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/3.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/4.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/5.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/6.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/7.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/8.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      figure.gallery__figure
        img.gallery__img(src="./assets/images/gallery/9.jpg", alt="Gallery image")
        img.gallery__img-loupe(src="./assets/images/gallery/loupe.svg", alt="Loupe")
      //- img.gallery__img(src="./assets/images/gallery/2.jpg", alt="Gallery image")
      //- img.gallery__img(src="./assets/images/gallery/3.jpg", alt="Gallery image")
      //- img.gallery__img(src="./assets/images/gallery/4.jpg", alt="Gallery image")
      //- img.gallery__img(src="./assets/images/gallery/5.jpg", alt="Gallery image")
      //- img.gallery__img(src="./assets/images/gallery/6.jpg", alt="Gallery image")
      //- img.gallery__img(src="./assets/images/gallery/7.jpg", alt="Gallery image")
      //- img.gallery__img(src="./assets/images/gallery/8.jpg", alt="Gallery image")
      //- img.gallery__img(src="./assets/images/gallery/9.jpg", alt="Gallery image")
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug

block menu
  include ../includes/menu.pug

block call
  include ../includes/call.pug
