
extends ../layout/main
block variable
  -
    var title_page = 'ЖК Лаванда Парк'
    var id_page = 'flat-page'
    var class_page = 'home'

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  //- script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
block content
  main.main.main-home 
    section.start-section
      .first-column
        .first-column__header.headers ЖК LAVANDA PARK — Спокій та затишок у дрібницях
        p.first-column__text.start-section-text Всім з дитинства знайоме почуття, коли хочеться усамітнитися, створити свій милий серцю куточок
        a.first-column__btn-link(href="#") обрати квартиру
      .second-column 
        img(src="./assets/images/home/start-sec-1.jpg", alt="Interiere").second-column__img
        .second-column__link-wrapper
          a.second-column__link(href="#") Facebook
          a.second-column__link(href="#") instagram
      .third-column 
        p.third-column__text.start-section-text З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні
        img(src="./assets/images/home/start-sec-2.jpg", alt="Interiere").third-column__img
    section.lavanda-park 
      .left-side
        p.left-side__header lavanda park — 
      .right-side 
        .right-side__cell
          .right-side__header 2,4 га
          .right-side__subheader площа забудови
        .right-side__cell
          .right-side__header 10
          .right-side__subheader секцій у кожному будинку
        .right-side__cell
          .right-side__header 650
          .right-side__subheader паркомісць у паркінгу
        .right-side__cell
          .right-side__header 5
          .right-side__subheader будівель різної висоти
        .right-side__cell
          .right-side__header 178
          .right-side__subheader квартир у першій будівлі
        .right-side__cell
          .right-side__header 10
          .right-side__subheader поверхів
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
