
extends ../layout/main
block variable
  -
    var title_page = 'ЖК Лаванда Парк'
    var id_page = 'flat-page'
    var class_page = 'home'

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  //- script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
block content
  main.main.main-home 
    section.start-section
      .first-column
        p.first-column__header.headers ЖК LAVANDA PARK — Спокій та затишок у дрібницях
        p.first-column__text.section-text Всім з дитинства знайоме почуття, коли хочеться усамітнитися, створити свій милий серцю куточок
        a.first-column__btn-link(href="#") обрати квартиру
      .second-column 
        img(src="./assets/images/home/start-sec-1.jpg", alt="Interiere").second-column__img
        .second-column__link-wrapper
          a.second-column__link(href="#") Facebook
          a.second-column__link(href="#") instagram
      .third-column 
        p.third-column__text.section-text З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні
        img(src="./assets/images/home/start-sec-2.jpg", alt="Interiere").third-column__img
    section.lavanda-park 
      .left-side
        p.left-side__header lavanda park — 
      .right-side 
        .right-side__cell
          .right-side__header 2,4 га
          .right-side__subheader площа забудови
        .right-side__cell
          .right-side__header 10
          .right-side__subheader секцій у кожному будинку
        .right-side__cell
          .right-side__header 650
          .right-side__subheader паркомісць у паркінгу
        .right-side__cell
          .right-side__header 5
          .right-side__subheader будівель різної висоти
        .right-side__cell
          .right-side__header 178
          .right-side__subheader квартир у першій будівлі
        .right-side__cell
          .right-side__header 10
          .right-side__subheader поверхів
    section.advantages-section 
      .first-column
        .first-column__text-wrapper
          p.first-column__header.headers дворівневий підземний паркінг
          p.first-column__text.section-text З віком запитів стає набагато більше: вид з вікна,  привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі,   хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
        .first-column__btn-wrapper 
          button.first-column__btn.left-btn
            img.first-column__btn-img(src="./assets/images/home/left-arrow.svg")
          span.first-column__slide-num 
            span.first-column__curr-slide 01
            span.first-column__divider /
            span.first-column__all-slides 04
          button.first-column__btn.right-btn
           img.first-column__btn-img(src="./assets/images/home/right-arrow.svg")
      .second-column 
        img(src="./assets/images/home/parking.jpg", alt="Parking").second-column__img
        .second-column__nav-wrapper 
          .second-column__nav-line
      .third-column
        img(src="./assets/images/home/developer.jpg", alt="Developer").third-column__img
    section.slider-section 
      p.slider-section__header.headers справжній простір сили, енергії та процвітання для Вас та Вашої родини!
      .slider-section__slider-wrapper.js-slider-wrapper 
        //- .slider-section__controller.js-slider-controller
          span.slider-section__controller-text 
            span.slider-section__curr-slide 01
            span.slider-section__divider /
            span.slider-section__all-slides 13
          img.slider-section__controller-arrow(src="./assets/images/home/slider-section/arrow.svg" alt="Arrow")
        .swiper
          .swiper-wrapper.slider-section__slider.js-slider
            img.swiper-slide.slider-section__slide(src="./assets/images/home/slider-section/1.jpg", alt="Slide")
            img.swiper-slide.slider-section__slide(src="./assets/images/home/slider-section/1.jpg", alt="Slide")
            img.swiper-slide.slider-section__slide(src="./assets/images/home/slider-section/1.jpg", alt="Slide")
            img.swiper-slide.slider-section__slide(src="./assets/images/home/slider-section/1.jpg", alt="Slide")
    section.calm-place 
      .calm-place__content-wrapper
        img.calm-place__img.img-baby(src="./assets/images/home/calm-place/baby.jpg", alt="Baby")
        img.calm-place__img.img-flower(src="./assets/images/home/calm-place/flower.jpg", alt="Flower")
        img.calm-place__img.img-brushes(src="./assets/images/home/calm-place/brushes.jpg", alt="Brushes")
        img.calm-place__img.img-book(src="./assets/images/home/calm-place/book.jpg", alt="Book")
        img.calm-place__img.img-family(src="./assets/images/home/calm-place/family.jpg", alt="Family")
        img.calm-place__img.img-cup(src="./assets/images/home/calm-place/cup.jpg", alt="Cup")
        p.calm-place__header місце вашого спокою
        a.calm-place__link(href="#") обрати квартиру
    section.stocks-section 
      +card('./assets/images/home/stocks/card-img.jpg', '23/09/2021', 'Встигніть здійснити бажання про власне житло! Продаж квартир у жк lavanda park відкрито!')
      p.stocks-section__text акції & новини
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
