
extends ../layout/main
block variable
  -
    var title_page = 'ЖК Лаванда Парк'
    var id_page = 'flat-page'
    var class_page = 'home'

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/homepage.bundle.js')
block content
  .front-screen-modal(data-front-screen-popup)
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="front-screen-modal-close" data-front-screen-popup-close>
      <circle cx="12" cy="12" r="12" fill="#F9F8FC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.29291 7.29289C7.68343 6.90237 8.3166 6.90237 8.70712 7.29289L12 10.5858L15.2929 7.29289C15.6834 6.90237 16.3166 6.90237 16.7071 7.29289C17.0976 7.68342 17.0976 8.31658 16.7071 8.70711L13.4142 12L16.7071 15.2929C17.0976 15.6834 17.0976 16.3166 16.7071 16.7071C16.3166 17.0976 15.6834 17.0976 15.2929 16.7071L12 13.4142L8.70712 16.7071C8.3166 17.0976 7.68343 17.0976 7.29291 16.7071C6.90238 16.3166 6.90238 15.6834 7.29291 15.2929L10.5858 12L7.29291 8.70711C6.90238 8.31658 6.90238 7.68342 7.29291 7.29289Z" fill="#4A3A5E"/>
      </svg>

    .front-screen-modal-backdrop
    .front-screen-modal-content
  main.main.main-home 
    section.start-section
      .first-column
        p.first-column__header.headers ЖК LAVANDA PARK — Спокій та затишок у дрібницях
        p.first-column__text.section-text Всім з дитинства знайоме почуття, коли хочеться усамітнитися, створити свій милий серцю куточок
        a.first-column__btn-link(href="#") обрати квартиру
      .second-column 
        //- video( data-front-screen-popup-call poster="./assets/images/Header/logo.svg" src='https://lavanda-park.vn.ua/wp-content/themes/lavanda/assets/front-video.mp4' muted autoplay looped playsinline).second-column__img
        //- img(src="./assets/images/home/start-sec-1.jpg", alt="Interiere").second-column__img
        <div class="second-column__img__wrapper">
          <a href="https://maps.app.goo.gl/ovAy8RZTV8FscHuy5" target="_blank" rel="noreferrer noopener nofollow" class="section-1__location-link">
          <svg width="16" height="16" fill="#fff" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 0c-5.523 0-10 4.477-10 10 0 10 10 22 10 22s10-12 10-22c0-5.523-4.477-10-10-10zM16 16c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"></path>
          </svg>
            <span>м. Вінниця, вул. Ватутіна 16 Б</span>
          </a>
          <div class="second-column__img-wrap"> 
              <video class="second-column__img" src="https://lavanda-park.vn.ua/wp-content/themes/lavanda/assets/front-video.mp4" muted="" autoplay="" loop="" playsinline="" style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); object-fit: cover;"></video>
              <button class="section-1__video-button" id="toggle-sound-button" style="position: absolute;">
                <svg class="section-1__video-button-off" enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <line fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" x1="32" x2="42" y1="20" y2="30"></line>
                  <line fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" x1="42" x2="32" y1="20" y2="30"></line>
                  <rect fill="none" height="50" width="50"></rect>
                  <rect fill="none" height="50" width="50"></rect>
                  <path d="M10,33H3  c-1.103,0-2-0.898-2-2V19c0-1.102,0.897-2,2-2h7" fill="none" stroke="#000000" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2.08"></path>
                  <path d="M9.604,32.43  C9.256,32.129,9,31.391,9,30.754V19.247c0-0.637,0.256-1.388,0.604-1.689L22.274,4.926C23.905,3.27,26,3.898,26,6.327v36.988  c0,2.614-1.896,3.604-3.785,1.686L9.604,32.43z" fill="none" stroke="#000000" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.9797"></path>
                </svg>
                <svg class="section-1__video-button-on" enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <rect fill="none" height="50" width="50"></rect>
                  <path d="M10,33H3  c-1.103,0-2-0.898-2-2V19c0-1.102,0.897-2,2-2h7" fill="none" stroke="#000000" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2.08"></path>
                  <path d="M9.604,32.43  C9.256,32.129,9,31.391,9,30.754V19.247c0-0.637,0.256-1.388,0.604-1.689L22.274,4.926C23.905,3.27,26,3.898,26,6.327v36.988  c0,2.614-1.896,3.604-3.785,1.686L9.604,32.43z" fill="none" stroke="#000000" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.9797"></path>
                  <path d="M30.688,19.417C33.167,20.064,35,22.32,35,25s-1.833,4.936-4.312,5.584" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path>
                  <path d="M34.92,13.142C39.136,15.417,42,19.873,42,25c0,5.111-2.85,9.557-7.045,11.835" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2">
                  </path>
                  <path d="M38.498,7.82c6.276,3.167,10.579,9.668,10.579,17.18c0,7.512-4.303,14.014-10.579,17.18" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2">
                  </path>
                </svg>
              </button>
          </div> 
        </div>
        .second-column__link-wrapper
          a.second-column__link(href="#" data-text="Facebook") Facebook
          a.second-column__link(href="#" data-text="instagram") instagram
      .third-column 
        p.third-column__text.section-text З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні
        img(src="./assets/images/home/start-sec-2.jpg", alt="Interiere").third-column__img
      <svg data-scroll-down class="start-section__scroll-down" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="35" r="34" stroke="#dfdce4"/>
        <path d="M29 34.0002L35 40.0002L41 34.0002" stroke="#4a3a5e" stroke-width="2"/>
        </svg>
    section.lavanda-park 
      .left-side
        p.left-side__header lavanda park — 
      .right-side 
        .right-side__cell
          .right-side__header(data-count="2.4") 2,4 га
          .right-side__subheader площа забудови
        .right-side__cell
          .right-side__header(data-count="10") 10
          .right-side__subheader секцій у кожному будинку
        .right-side__cell
          .right-side__header(data-count="650") 650
          .right-side__subheader паркомісць у паркінгу
        .right-side__cell
          .right-side__header(data-count="5") 5
          .right-side__subheader будівель різної висоти
        .right-side__cell
          .right-side__header(data-count="178") 178
          .right-side__subheader квартир у першій будівлі
        .right-side__cell
          .right-side__header(data-count="10") 10
          .right-side__subheader поверхів
    section.advantages-section 
      .first-column
        .first-column__text-wrapper
          .advantages-text-slider
            .advantages-text-slider__wrp.swiper-wrapper
              .swiper-slide.advantages-text-slider__item
                p.first-column__header.headers дворівневий підземний паркінг
                p.first-column__text.section-text З віком запитів стає набагато більше: вид з вікна,  привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі,   хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
              .swiper-slide.advantages-text-slider__item
                p.first-column__header.headers дворівневий підземний паркінг
                p.first-column__text.section-text З віком запитів стає набагато більше: вид з вікна,  привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі,   хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
              .swiper-slide.advantages-text-slider__item
                p.first-column__header.headers дворівневий підземний паркінг
                p.first-column__text.section-text З віком запитів стає набагато більше: вид з вікна,  привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі,   хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
        .first-column__btn-wrapper 
          button.first-column__btn.left-btn.advantages-slider-prev
            img.first-column__btn-img(src="./assets/images/home/left-arrow.svg")
          span.first-column__slide-num 
            span.first-column__curr-slide 01
            span.first-column__divider /
            span.first-column__all-slides 04
          button.first-column__btn.right-btn.advantages-slider-next
           img.first-column__btn-img(src="./assets/images/home/right-arrow.svg")
      .second-column 
        .advantages-slider
          .advantages-slider__wrp.swiper-wrapper
            .swiper-slide.advantages-slider__item
              img(src="./assets/images/home/parking.jpg", alt="Parking").second-column__img
            .swiper-slide.advantages-slider__item
              img(src="./assets/images/home/parking.jpg", alt="Parking").second-column__img
            .swiper-slide.advantages-slider__item
              img(src="./assets/images/home/parking.jpg", alt="Parking").second-column__img
        .second-column__nav-wrapper 
          .second-column__nav-line
      .third-column
        .third-column__text-wrapper
          p.third-column__header.headers дворівневий підземний паркінг
          p.third-column__text.section-text З віком запитів стає набагато більше: вид з вікна,  привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі,   хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.
        img(src="./assets/images/home/developer.jpg", alt="Developer").third-column__img
    section.slider-section 
      p.slider-section__header.headers справжній простір сили, енергії та процвітання для Вас та Вашої родини!
      .slider-section__slider-wrapper.js-slider-wrapper
        .slider-section__controller.js-slider-controller
          .swiper-pagination.slider-section__controller-text
          //- span.slider-section__controller-text 
          //-   span.slider-section__curr-slide 01
          //-   span.slider-section__divider /
          //-   span.slider-section__all-slides 13
          img.slider-section__controller-arrow(src="./assets/images/home/slider-section/arrow.svg" alt="Arrow")
        //- .slider-section__slider-wrapper.js-slider-wrapper 
          //- .slider-section__controller.js-slider-controller
            span.slider-section__controller-text 
              span.slider-section__curr-slide 01
              span.slider-section__divider /
              span.slider-section__all-slides 13
            img.slider-section__controller-arrow(src="./assets/images/home/slider-section/arrow.svg" alt="Arrow")
        .swiper
          .swiper-wrapper.slider-section__slider.js-slider
            img.swiper-slide.slider-section__slide(src="./assets/images/home/slider-section/1.jpg", alt="Slide")
            img.swiper-slide.slider-section__slide(src="./assets/images/home/slider-section/2.jpg", alt="Slide")
            img.swiper-slide.slider-section__slide(src="./assets/images/home/slider-section/3.jpg", alt="Slide")
      .slider-section__btn-wrapper 
        button.slider-section__btn.left-btn.slider-section-prev
          img.slider-section__btn-img(src="./assets/images/home/left-arrow.svg")
        span.slider-section__slide-num 
          span.slider-section__curr-slide 01
          span.slider-section__divider /
          span.slider-section__all-slides 04
        button.slider-section__btn.right-btn.slider-section-next
          img.slider-section__btn-img(src="./assets/images/home/right-arrow.svg")  
    section.calm-place 
      .calm-place__content-wrapper
        .calm-place__img.img-baby
          img(src="./assets/images/home/calm-place/baby.jpg", alt="Baby")
        .calm-place__img.img-flower
          img.calm-place__img.img-flower(src="./assets/images/home/calm-place/flower.jpg", alt="Flower")
        .calm-place__img.img-brushes
          img(src="./assets/images/home/calm-place/brushes.jpg", alt="Brushes")
        .calm-place__img.img-book
          img(src="./assets/images/home/calm-place/book.jpg", alt="Book")
        .calm-place__img.img-family
          img(src="./assets/images/home/calm-place/family.jpg", alt="Family")
        .calm-place__img.img-cup
          img(src="./assets/images/home/calm-place/cup.jpg", alt="Cup")
        p.calm-place__header місце вашого спокою
        a.calm-place__link(href="#") обрати квартиру
    section.stocks-section 
      .stocks-section_abs-wrapper
        .stocks-section_abs
          .stocks-section_abs-inn#scrollingText
            - let count = 0;
            while count < 10
              p.stocks-section__text-wrapper.js-stocks-text-wrapper 
                span.stocks-section__text.js-stocks-text акції#[span.stocks-section__ampersand &]новини#[span.stocks-section__ampersand &]
              - count++;
      .stocks-section-slider
          .stocks-section-slider__wrp
            .swiper-slide.stocks-section-slider__item
              +card('./assets/images/home/stocks/card-img.jpg', '23/09/2021', 'Встигніть здійснити бажання про власне житло! Продаж квартир у жк lavanda park відкрито!')
            .swiper-slide.stocks-section-slider__item
              +card('./assets/images/home/stocks/card-img.jpg', '23/09/2021', 'Встигніть здійснити бажання про власне житло! Продаж квартир у жк lavanda park відкрито!')
            .swiper-slide.stocks-section-slider__item
              +card('./assets/images/home/stocks/card-img.jpg', '23/09/2021', 'Встигніть здійснити бажання про власне житло! Продаж квартир у жк lavanda park відкрито!')
            .swiper-slide.stocks-section-slider__item
              +card('./assets/images/home/stocks/card-img.jpg', '23/09/2021', 'Встигніть здійснити бажання про власне житло! Продаж квартир у жк lavanda park відкрито!')
      //- p.stocks-section__text акції#[span.stocks-section__ampersand &]новини
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug

block menu
  include ../includes/menu.pug

block call
  include ../includes/call.pug
