:root {
  // Indents
  --lr-paddings: 120px; // lr - left-right
  --btm-padding: 150px; // btm - bottom padding
  --top-padding: 50px;
  --sec-btm-indent: 200px;
  --elem-btm-margin: 100px;
  --popular-indent: 60px;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

@include reset();

.debug {
  z-index: 999999;
  @include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}

.container {
  @include wrapper();
}

html {
  font-size: 14px;
  scrollbar-width: none; // for Firefox 64 and above disabled scroll

  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  margin: 0;
  min-width: 320px;
  font-family: $default-font;
  font-weight: 600;
  overflow-x: hidden;
  font-size: 14px;
  background-color: #f9f8fc;

  &.disabled-scroll {
    overflow: hidden;
  }
}

a {
  @include resetLinkStyles;
}

button {
  @include resetBtnStyles;
}

img {
  vertical-align: middle;
}
