:root {
  // Paddings
  --lr-paddings: 120px; // lr - left-right
  --btm-padding: 150px; // btm - bottom padding
  --top-padding: 50px;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

@include reset();

.debug {
  z-index: 999999;
  @include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}

.container {
  @include wrapper();
}

html {
  font-size: 14px;
}
body {
  margin: 0;
  min-width: 320px;
  font-family: $default-font;
  font-weight: 600;
  overflow-x: hidden;
  font-size: 14px;
  background-color: #f9f8fc;
}

a {
  @include resetLinkStyles;
}

button {
  @include resetBtnStyles;
}

::-webkit-scrollbar {
  display: none;
}
