.breadcrumbs {
  @include baseFlexStyle(center, center);
  @include setFontStyle('Mont', 14px, 400, $dark-grey, 100%, 0.01em);
  margin-bottom: 30px;

  &-item {
    @include baseFlexStyle(center);

    &__link {
      color: $dark-violet;
      border-bottom: 1px solid $dark-violet;
    }

    &__current--color {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: inline;
      max-width: 255px;
    }
  }

  .icon {
    &--dot {
      @include width-heigth(5px);
      margin: 0 15px;
    }
  }
}
