:root {
  --btn-link-width: 270px;
  --btn-link-height: 70px;
  --btn-link-font-size: 14px;
  --headers-margin-bottom: 30px;
  --menu-call-block-max-width: 857px;
}

.page {
  // &__inner {
  //   @include baseFlexStyle($flex-direction: column);
  // }

  &__content {
    min-height: 100vh;
  }
}

.main {
  --top-padding: 50px;
  padding: calc(var(--header-height) + var(--top-padding)) 0 var(--btm-padding);

  &-home {
    --top-padding: 0px;
  }
}

.headers {
  @include setFontStyle('Cormorant Garamond', 62px, 300, $headers-color, 100%, 0.01em);
}

.section-text {
  font-size: 16px;
  line-height: 170%;
  color: $text-color;
}

.card {
  width: 520px;

  &-img {
    @include setImgWidth(100%);
  }

  &-bottom {
    --paddings-lrb: 50px; // lrb- left-right-bottom
    padding: 40px var(--paddings-lrb) var(--paddings-lrb);
    background-color: $light-grey;
    border: 1px solid $border-color;
    border-top: 0;
  }

  &-date {
    margin-bottom: 20px;
    @include setFontStyle('Mont', 16px, 600, $date-color, 100%);
  }

  &-text {
    @include setFontStyle('Mont', 20px, 600, $dark-grey, 170%);
  }
}

.menu {
  position: fixed;
  @include width-heigth(100%);
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 20;
  @include baseFlexStyle($justify-content: flex-end);
  visibility: hidden;
  opacity: 0;
  // transition: opacity 0.3s ease-in-out;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);

  &.active {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
  }

  .menu-block {
    background-color: $light-grey;
    min-height: 100%;
    // max-width: var(--menu-call-block-max-width);
    // flex-shrink: ;
    flex: 0 0 var(--menu-call-block-max-width);
    padding: var(--header-tb-padding) var(--lr-paddings);
    padding-left: 0;
    // @include baseFlexStyle(flex-end, space-between, column);
    // @include baseGridStyle(repeat(3, auto), auto);
    // @include baseGridStyle(auto repeat(2, 1fr), auto);
    @include baseGridStyle(auto 1fr auto, auto);
    justify-content: flex-end;

    &__header {
      @include baseFlexStyle(center);

      & * {
        @include setFontStyle('Mont', 16px, 500, $dark-grey, 100%, 0.01em);

        &:not(:last-child) {
          margin-right: 117px;
        }
      }
    }

    &__call-btn {
      font-size: 14px;
    }

    &__close-btn {
      display: flex;

      &::after {
        @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
      }
    }

    &__content {
      @include baseFlexStyle(center);
    }

    &__element {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__link {
      @include setFontStyle('Cormorant Garamond', 50px, 400, $headers-color, 100%, 0.01em);
    }

    &__footer {
      @include baseFlexStyle(center, space-between);
      @include setFontStyle('Mont', 14px, 400, $dark-grey, 100%, 0.01em);
    }

    &__soc-link {
      // @include setFontStyle('Mont', 14px, 400, $dark-grey, 100%, 0.01em);
      color: $dark-grey;

      &_insta {
        margin-left: 60px;
      }
    }

    &__lang-btn {
      // @include link-btns(70px, 70px, transparent, 14px, $headers-color);
      // border: ;
      @include slideBtns(rgba(74, 58, 94, 0.25));
      @include width-heigth(70px);
      border-width: 1px;
      text-transform: uppercase;
    }
  }
}

.call {
  position: fixed;
  @include width-heigth(100%);
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 30;
  @include baseFlexStyle($justify-content: flex-end);
  // visibility: hidden;
  // opacity: 0;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);

  // &.active {
  //   visibility: visible;
  //   opacity: 1;
  //   overflow-y: auto;
  // }

  .call-block {
    background-color: $light-grey;
    min-height: 100%;
    flex: 0 0 var(--menu-call-block-max-width);
    padding: var(--header-tb-padding) var(--lr-paddings);
    padding-left: 0;
    // @include baseGridStyle(auto 1fr, auto);
    @include baseGridStyle(auto 1fr, 1fr repeat(2, auto));
    justify-content: flex-end;

    &__header {
      grid-column-start: 3;
      @include baseFlexStyle($justify-content: flex-end);
    }

    &__close-btn {
      display: flex;

      &::after {
        @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
      }
    }

    &__content {
      grid-row-start: 2;
      grid-column-start: 2;
      @include baseFlexStyle($justify-content: center, $flex-direction: column);
    }

    &__header-text {
      margin-bottom: 60px;
      max-width: 520px;
    }

    &__form {
      @include baseFlexStyle($flex-direction: column);
      width: 100%;
    }

    &__input {
      @include resetInputStyles;
      padding-bottom: 10px;
      margin-bottom: 40px;
      border-bottom: 2px solid rgba(74, 58, 94, 0.15);
      width: 100%;
      @include setFontStyle('Mont', 16px, 400, $dark-grey, 170%, $text-transform: none);
    }

    &__checkbox {
      &-wrapper {
        margin-bottom: 60px;
        @include baseFlexStyle(center);
        // cursor: pointer;
      }

      & {
        @include width-heigth(25px);
        position: absolute;
        appearance: none;
        cursor: pointer;
        // &:checked + .call-block__checkbox-custom {
        //   // background: no-repeat center $dark-violet url('../images/call/ok.svg');
        //   background-color: tomato;
        // }
        // &:checked {
        //   background-color: tomato;
        // }
      }

      &:checked + .call-block__checkbox-custom {
        background: no-repeat center $dark-violet url('../images/call/ok.svg');
      }

      &-label {
        padding-left: 15px;
        @include setFontStyle('Mont', 12px, 500, $dark-grey, 100%, $text-transform: none);
        cursor: pointer;
      }

      &-custom {
        position: relative;
        // background: no-repeat center $dark-violet url('../images/call/ok.svg');
        border: 1px solid #4a3a5e;
        @include width-heigth(25px);
        pointer-events: none;
      }
    }

    &__submit {
      display: flex;

      &::before {
        @include after-before-img('../images/call/submit.svg', 110px);
      }
      // @include slideBtns($background: );
    }
  }
}
