:root {
  --btn-link-width: 270px;
  --btn-link-height: 70px;
  --btn-link-font-size: 14px;
  --headers-margin-bottom: 30px;
}

.headers {
  @include setFontStyle('Cormorant Garamond', 62px, 300, $headers-color, 100%, 0.01em);
}

.section-text {
  font-size: 16px;
  line-height: 170%;
  color: $text-color;
}

.card {
  width: 520px;

  &-img {
    @include setImgWidth(100%);
  }

  &-bottom {
    --paddings-lrb: 50px; // lrb- left-right-bottom
    padding: 40px var(--paddings-lrb) var(--paddings-lrb);
    background-color: $light-grey;
    border: 1px solid $border-color;
    border-top: 0;
  }

  &-date {
    margin-bottom: 20px;
    @include setFontStyle('Mont', 16px, 600, $date-color, 100%);
  }

  &-text {
    @include setFontStyle('Mont', 20px, 600, $dark-grey, 170%);
  }
}
