:root {
  --btn-link-width: 270px;
  --btn-link-height: 70px;
  --btn-link-font-size: 14px;
  --headers-margin-bottom: 30px;
  --menu-call-block-max-width: 857px;
}

.page {
  // &__inner {
  //   @include baseFlexStyle($flex-direction: column);
  // }

  &__content {
    min-height: 100vh;
  }
}

.main {
  --top-padding: 50px;
  padding: calc(var(--header-height) + var(--top-padding)) 0 var(--btm-padding);

  &-home {
    --top-padding: 0px;
  }
}

.headers {
  @include setFontStyle('Cormorant Garamond', 62px, 300, $headers-color, 100%, 0.01em);
}

.section-text {
  font-size: 16px;
  line-height: 170%;
  color: $text-color;
}

.card {
  // width: 520px;
  @include baseFlexStyle(stretch, $flex-direction: column);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;

  // & > * {
  //   flex-grow: 1;
  // }

  &-img {
    @include setImgWidth(100%);
  }

  &-top {
    position: relative;
  }

  &-bottom {
    --paddings-lrb: 50px; // lrb- left-right-bottom
    padding: 40px var(--paddings-lrb) var(--paddings-lrb);
    background-color: $light-grey;
    border: 1px solid $border-color;
    border-top: 0;
    flex-grow: 1;
  }

  &-date {
    margin-bottom: 20px;
    @include setFontStyle('Mont', 16px, 600, $date-color, 100%);

    &.hidden {
      visibility: hidden;
    }
  }

  &-text {
    @include setFontStyle('Mont', 20px, 600, $dark-grey, 170%);
  }
}

.progress-card {
  @include baseFlexStyle(stretch, $flex-direction: column);
  cursor: pointer;

  &:hover {
    .progress-card__img {
      transform: scale(1.02);

      &-plus {
        opacity: 1;
      }
    }
  }

  &__img {
    @include setImgWidth(100%);
    transition: transform 0.5s ease-in-out;

    &-plus {
      @include abs-position();
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }

  &-top {
    position: relative;
    overflow: hidden;
  }

  &-bottom {
    padding: 30px 40px;
    background-color: $light-grey;
    border: 1px solid $border-color;
    border-top: 0;
    flex-grow: 1;
    @include baseFlexStyle(center, space-between);
    @include setFontStyle('Mont', 20px, 600, $dark-grey, 100%);
  }

  &__numbers-info {
    @include baseFlexStyle(center);
    display: inline-flex;

    &:not(:last-child) {
      margin-right: 34px;
    }

    &::before {
      @include after-before-img('', 20px);
      margin-right: 10px;
    }

    &_video {
      &::before {
        background-image: url('../images/progress/video.svg');
      }
    }

    &_pages {
      &::before {
        background-image: url('../images/progress/pages.svg');
      }
    }
  }
}

.menu {
  position: fixed;
  @include width-heigth(100%);
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 20;
  @include baseFlexStyle($justify-content: flex-end);
  visibility: hidden;
  opacity: 0;
  // transition: opacity 0.3s ease-in-out;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
  }

  .menu-block {
    background-color: $light-grey;
    min-height: 100%;
    // max-width: var(--menu-call-block-max-width);
    // flex-shrink: ;
    flex: 0 0 var(--menu-call-block-max-width);
    padding: var(--header-tb-padding) var(--lr-paddings);
    padding-left: 0;
    // @include baseFlexStyle(flex-end, space-between, column);
    // @include baseGridStyle(repeat(3, auto), auto);
    // @include baseGridStyle(auto repeat(2, 1fr), auto);
    @include baseGridStyle(auto 1fr auto, auto);
    justify-content: flex-end;

    &__header {
      @include baseFlexStyle(center);

      & * {
        @include setFontStyle('Mont', 16px, 500, $dark-grey, 100%, 0.01em);

        &:not(:last-child) {
          margin-right: 117px;
        }
      }
    }

    &__call-btn {
      font-size: 14px;
    }

    &__close-btn {
      display: flex;

      &::after {
        @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
      }
    }

    &__content {
      @include baseFlexStyle(center);
    }

    &__element {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__link {
      @include setFontStyle('Cormorant Garamond', 50px, 400, $headers-color, 100%, 0.01em);
    }

    &__footer {
      @include baseFlexStyle(center, space-between);
      @include setFontStyle('Mont', 14px, 400, $dark-grey, 100%, 0.01em);
    }

    &__soc-link {
      // @include setFontStyle('Mont', 14px, 400, $dark-grey, 100%, 0.01em);
      color: $dark-grey;

      &_insta {
        margin-left: 60px;
      }
    }

    &__lang-btn {
      // @include link-btns(70px, 70px, transparent, 14px, $headers-color);
      // border: ;
      @include slideBtns(rgba(74, 58, 94, 0.25));
      @include width-heigth(70px);
      border-width: 1px;
      text-transform: uppercase;
    }
  }
}

.call {
  position: fixed;
  @include width-heigth(100%);
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 30;
  @include baseFlexStyle($justify-content: flex-end);
  visibility: hidden;
  opacity: 0;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);

  &.active {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
  }

  .call-block,
  .call-thanks-block {
    background-color: $light-grey;
    min-height: 100%;
    flex: 0 0 var(--menu-call-block-max-width);
    padding: var(--header-tb-padding) var(--lr-paddings);
    padding-left: 0;
    // @include baseGridStyle(auto 1fr, auto);
    @include baseGridStyle(auto 1fr, 1fr repeat(2, auto));
    justify-content: flex-end;
    @include multiple-transitions(0.5s, ease-in-out, opacity, visibility);

    &.active {
      // top: 100%;
      // visibility: visible;
      // opacity: 1;
      // animation: fadeIn 5s ease-in-out;
      transform: translateY(0);
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      // display: none;
    }

    &__header {
      grid-column-start: 3;
      @include baseFlexStyle($justify-content: flex-end);
    }

    &__close-btn {
      display: flex;

      &::after {
        @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
      }
    }

    &__content {
      grid-row-start: 2;
      grid-column-start: 2;
      max-width: 520px;
      @include baseFlexStyle($justify-content: center, $flex-direction: column);
    }

    &__header-text {
      margin-bottom: 60px;
      // max-width: 520px;
    }

    &__form {
      @include baseFlexStyle($flex-direction: column);
      width: 100%;
    }

    &__input {
      @include resetInputStyles;
      padding-bottom: 10px;
      margin-bottom: 40px;
      border-bottom: 2px solid rgba(74, 58, 94, 0.15);
      width: 100%;
      @include setFontStyle('Mont', 16px, 400, $dark-grey, 170%, $text-transform: none);
    }

    &__checkbox {
      &-wrapper {
        margin-bottom: 60px;
        @include baseFlexStyle(center);
        // cursor: pointer;
      }

      & {
        @include width-heigth(25px);
        position: absolute;
        appearance: none;
        cursor: pointer;
        // &:checked + .call-block__checkbox-custom {
        //   // background: no-repeat center $dark-violet url('../images/call/ok.svg');
        //   background-color: tomato;
        // }
        // &:checked {
        //   background-color: tomato;
        // }
      }

      &:checked + .call-block__checkbox-custom {
        background: no-repeat center $dark-violet url('../images/call/ok.svg');
      }

      &-label {
        padding-left: 15px;
        @include setFontStyle('Mont', 12px, 500, $dark-grey, 100%, $text-transform: none);
        cursor: pointer;
      }

      &-custom {
        position: relative;
        // background: no-repeat center $dark-violet url('../images/call/ok.svg');
        border: 1px solid #4a3a5e;
        @include width-heigth(25px);
        pointer-events: none;
      }
    }

    &__submit {
      display: flex;

      &::before {
        @include after-before-img('../images/call/submit.svg', 110px);
      }
      // @include slideBtns($background: );
    }

    /* THANKS BLOCK */
    // .call-thanks-header {
    //   margin-bottom: 40px;
    // }

    &__text {
      // &-wrapper {
      //   margin-bottom: 84px;
      // }

      &-header {
        margin-bottom: 40px;
      }

      & {
        @include setFontStyle('Mont', 16px, 400, $text-color, 170%, $text-transform: none);
      }
    }
  }

  .call-thanks-block {
    // background-color: tomato;
    grid-template: repeat(2, auto) 1fr/1fr repeat(2, auto);
    // visibility: hidden;
    // opacity: 0;
    position: absolute;
    transform: translateY(-100%);
    // display: none;

    &__content {
      margin-top: 96px;
    }

    &__img {
      grid-column: 1 / 4;
      grid-row-start: 4;
      max-width: 100%;
    }
  }
}

.lr-paddings {
  padding: 0 var(--lr-paddings);
}

.white-btn-link,
.violet-btn-link {
  --btn-link-width: 270px;
  --btn-link-height: 70px;
  --btn-link-font-size: 14px;
}

.white-btn-link {
  @include link-btns(
    var(--btn-link-width),
    var(--btn-link-height),
    transparent,
    var(--btn-link-font-size),
    $dark-violet,
    400,
    1px solid $dark-violet
  );
}

.violet-btn-link {
  @include link-btns(
    var(--btn-link-width),
    var(--btn-link-height),
    $dark-violet,
    var(--btn-link-font-size),
    $white-color,
    400,
    none
  );
}

.gallery-pop-up {
  position: fixed;
  @include width-heigth(100%);
  background-color: $light-grey;
  top: 0;
  z-index: 30;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);
  padding: 50px var(--lr-paddings);
  @include baseGridStyle(auto, repeat(24, minmax(var(--popular-indent), 1fr)));

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .pop-up {
    &-content {
      grid-column: 3 / 23;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-main-slide {
      // margin-bottom: 30px;

      .slide-img {
        @include setImgWidth(100%);
        max-height: 760px;
      }

      .swiper-gallery {
        &__slide {
          &:not(:first-child) {
            padding-left: 30px;
          }
        }
      }
    }

    // .swiper {
    //   &-wrapper {
    //     height: auto;
    //   }

    //   &-slide {
    //     &:not(:first-child) {
    //       margin-left: 30px;
    //     }
    //   }
    // }

    &-slides {
      @include baseFlexStyle(center, center);

      .swiper {
        &-gallery {
          &__bottom-wrapper {
            max-width: 1000px;

            .slide-img {
              margin-top: 30px;

              &:not(:first-child) {
                margin-left: 30px;
              }
            }
          }
        }

        &-slide {
          width: auto;

          &:not(:first-child) {
            margin-left: 30px;
          }
        }
      }

      // .slide-img {
      //   &:not(:first-child) {
      //     margin-left: 30px;
      //   }
      // }

      // .swiper-slide {
      //   &:not(:first-child) {
      //     margin-left: 30px;
      //   }
      // }
    }

    &__btn-wrapper {
      grid-column-end: 25;
    }

    &__close-btn {
      @include baseFlexStyle();
      margin-left: auto;

      &::before {
        @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
      }
    }
  }
}

.progress-pop-up {
  position: fixed;
  @include width-heigth(100%);
  background-color: $light-grey;
  top: 0;
  z-index: 30;
  // overflow-y: auto;
  // padding-bottom: var(--top-padding);
  visibility: hidden;
  opacity: 0;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);
  // padding: 50px var(--lr-paddings);
  // padding: 0 var(--lr-paddings);
  // @include baseGridStyle(
  //   var(--top-padding) repeat(4, auto) var(--top-padding),
  //   var(--lr-paddings) repeat(24, minmax(var(--popular-indent), 1fr)) var(--lr-paddings)
  // );
  @include baseGridStyle(
    var(--top-padding) repeat(4, auto) var(--top-padding),
    var(--lr-paddings) repeat(24, minmax(var(--popular-indent), 1fr)) var(--lr-paddings)
  );
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .pop-up {
    // &-content {
    //   // @include baseFlexStyle($justify-content: space-between);
    // }

    &__left-side {
      grid-column: 1 / 9;
      grid-row: 1 / -1;
      // background-color: $dark-violet;
      box-shadow: 7px 0 25px rgba(56, 56, 56, 0.07);
      background-color: $light-grey;
      z-index: 10;
    }

    // &__text-content {
    //   grid-column: 2 / 7;
    //   grid-row: 3 / 4;
    //   overflow-y: scroll;
    // }

    // &__text-wrapper {
    //   overflow-y: scroll;
    // }

    // &__right-side {
    //   grid-column: 9 / -1;
    //   grid-row: 3 / 4;
    // }

    &__btn-wrapper {
      // @include baseFlexStyle($justify-content: flex-end);
      margin-bottom: 30px;
      grid-column-end: 26;
      grid-row-start: 2;
      @include baseFlexStyle($justify-content: flex-end);
    }

    &__close-btn {
      @include baseFlexStyle();

      &::before {
        @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
      }
    }

    &__header {
      grid-column: 2 / 8;
      grid-row: 3 / 4;
      margin-bottom: 30px;
      z-index: 10;

      &-month {
        @include setFontStyle('Cormorant Garamond', 50px, 300, $headers-color, 100%, 0.01em);
        margin-right: 15px;
      }

      &-year {
        @include setFontStyle('Nanum', 42px, 400, $headers-color, 100%, 0.01em);
      }
    }

    &__text-wrapper {
      overflow-y: auto;
      grid-row: 4 / 5;
      grid-column: 2 / 8;
      padding-right: 30px;
      @include setFontStyle('Mont', 16px, 400, $text-color, 160%, $text-transform: none);
      z-index: 10;

      &::-webkit-scrollbar {
        cursor: none;

        & {
          appearance: none;
          width: 2px;
        }

        &-track {
          background-color: rgba(74, 58, 94, 0.15);
        }

        &-thumb {
          background-color: $dark-violet;
        }
      }
    }

    &__slider {
      grid-row: 3 / 5;
      grid-column: 10 / -2;
      // overflow: hidden;

      // &-wrapper {
      //   max-height: 670px;
      // }

      &-slide {
        overflow-x: hidden;

        &:not(:first-child) {
          margin-left: 60px;
        }

        &_video {
          position: relative;
        }
      }

      &-img,
      &-video {
        // @include setImgWidth(100%);
        // max-height: 670px;
        // @include setImgHeight(100%);
        @include width-heigth(100%, 670px);
        object-fit: cover;
        vertical-align: middle;
        // position: absolute;
        // object-fit: cover;
      }

      &-btn-wrapper {
        grid-row: 5 / 6;
        grid-column: 10 / -2;
        @include baseFlexStyle(center, center);
        margin-top: 30px;
        position: relative;
      }

      &-btn {
        @include width-heigth(70px);
        @include slideBtns(rgba(74, 58, 94, 0.15));
      }

      &-play {
        @include abs-position();
      }
    }

    &__element {
      margin-top: 10px;
      @include baseFlexStyle();

      &::before {
        content: '/';
        margin-right: 23px;
      }
    }

    &__slide-num {
      // position: relative;
      margin: 0 40px;
      @include setFontStyle('Mont', 22px, 400, $dark-grey, 100%);
    }

    &__hidden-content {
      grid-row: 6 / -1;
      grid-column: 1 / -1;
      visibility: hidden;
    }
  }
}

.swiper-pagination-fraction {
  // bottom: 0;
  position: static;
  width: 50px;
}

.slider {
  &-controller {
    @include baseFlexStyle(center, center);
    border-radius: 50%;
    background-color: $dark-violet;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    @include width-heigth(0);
    @include multiple-transitions(0.5s, ease-in-out, width, height);

    &.active {
      @include width-heigth(110px);
      opacity: 1;
    }

    &.left-side {
      .slider-controller-arrow {
        order: -1;
        transform: rotate(180deg);
      }
    }

    &-text {
      @include setFontStyle('Mont', 22px, 400, $light-grey, 100%);
      min-width: 55px;
    }

    &-arrow {
      @include setImgWidth(10px);
      order: 1;
      transition: 0.6s ease-in-out transform;
    }
  }
}
