$xs: 767px;
$notebook: 1360px;
$sm: 1024px;
$md: 1920px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin mobile {
  @include media($xs) {
    @content;
  }
}

@mixin tablet {
  @include media($sm) {
    @content;
  }
}

@mixin notebook {
  @include media($notebook) {
    @content;
  }
}
@mixin tabletLarge {
  @include media($md) {
    @content;
  }
}
