// Colors
$white-color: #ffffff;
$dark-violet: #4a3a5e;
$lavander: #9c91c5;
$dark-grey: #4a4a49;
$light-grey: #f9f8fc;

// Paddings
/* lr - left-right */
$lr-paddings: 120px;

//Fonts
$default-font: 'Cormorant Garamond';
