// Colors
$white-color: #ffffff;
$dark-violet: #4a3a5e;
$lavander: #9c91c5;
$light-lavander: #9885b5;
$dark-grey: #4a4a49;
$light-grey: #f9f8fc;
$headers-color: #1f1f1f;
$headers-color-two: #303030;
$text-color: #8a8a8a;
$stocks-color: #313131;
$border-color: #bbbbbb;
$date-color: #919191;
$copyright-color: #dedede;

//Fonts
$default-font: 'Mont';
