.footer {
  // @include baseFlexStyle();
  // padding: 172px 120px 48px;
  //
  // grid-template-columns: 568px calc(100vw - 568px);
  // @include baseFlexStyle();
  --aside-width: 568px;
  @include baseGridStyle(auto, var(--aside-width) calc(100vw - var(--aside-width)));
  // display: grid;
  // grid-template: repeat(10, auto) / repeat(5, auto);

  &-menu {
    background-color: $light-lavander;
    padding: 172px 0 48px 120px;
    // @include baseGridStyle(172px auto 48px, 120px auto);
    // align-self: center;
    // padding-left: 120px;
    // padding: 172px 0 48px 120px;
  }

  &-element {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &-link {
    @include setFontStyle('Mont', 28px, 500, $light-grey, 130%);
  }

  &-copyright {
    @include setFontStyle('Mont', 13px, 500, $copyright-color, 140%, $text-transform: none);
  }

  // &-list,
  // &-copyright {
  //   grid-column-start: 2;
  // }

  // &-list {
  //   grid-row-start: 2;
  // }

  // &-copyright {
  //   grid-row-end: 3;
  // }

  &-content {
    background-color: $dark-violet;
    padding: 172px 120px 48px 0;
    @include baseFlexStyle(flex-end, space-between, column);
    // padding-left: 132px;
  }

  &-table {
    @include setFontStyle('Mont', 20px, 500, $light-grey, 170%, $text-transform: none);
  }

  &-row {
    // @include baseGridStyle(repeat(2, auto), repeat(3, auto));
    // justify-content: space-between;
    // column-gap: 98px;
  }

  &-cell {
    vertical-align: top;

    &:nth-child(1) {
      padding-right: 98px;
    }

    &:nth-child(2) {
      padding-right: 80px;
    }

    &:nth-child(3) {
      padding-right: 75px;
    }

    &__name {
      text-transform: uppercase;
      // padding-right: 98px;
    }

    &__address {
      // padding-right: 80px;
    }

    table p:not(&__name) {
      font-weight: 600;
      font-size: 22px;
      color: $table-p-color;
    }

    // &__schedule {
    //   padding-top: 20px;
    // }

    &__map {
      @include link-btns(270px, 70px, $grey-link-btn, 14px, $light-grey);
    }
  }

  &-to-top {
    @include slideBtns($background: $grey-link-btn);
    border: none;
    @include width-heigth(70px);
  }
}
