:root {
  --header-margin-outer: 90px;
  --header-margin-inner: 20px;
  --header-height: 170px;
  --header-tb-padding: 50px; // tb - top-bottom
}

@include to(1366px) {
  :root {
    --header-margin-outer: 20px;
    --header-margin-inner: 10px;
  }
}

//////////////

.header {
  padding: var(--header-tb-padding) var(--lr-paddings);
  position: fixed;
  background: $light-grey;
  width: 100%;
  height: var(--header-height);
  @include baseFlexStyle(center, space-between);

  &-left {
    @include baseFlexStyle(center);

    &__link {
      color: $dark-grey;
      font-size: 14px;
    }
  }

  &-link {
    &-houses {
      @include baseFlexStyle(center);

      &::before {
        @include after-before-img('../images/header/houses-icon.svg', 70px, 70px);
        margin-right: var(--header-margin-inner);
      }
    }

    &-tel {
      font-size: 18px;
      margin-left: var(--header-margin-outer);
    }
  }

  &__logo {
    &-link {
      @include baseFlexStyle(center);
    }

    &-img {
      @include setImgWidth(240px);
    }
  }

  &-right {
    @include baseFlexStyle(center);

    &__btn {
      // font-family: 'Mont';
      // font-weight: 500;
      // font-size: 14px;
      // line-height: 100%;
      // letter-spacing: 0.01em;
      // text-transform: uppercase;
      // color: $dark-grey;
      @include setFontStyle('Mont', 14px, 500, $dark-grey, 100%, 0.01em);
    }
  }

  &-btn {
    &-call {
      margin-right: var(--header-margin-outer);
    }

    &-menu {
      font-weight: 600;
      @include baseFlexStyle(center);

      &::after {
        @include after-before-img('../images/header/burger-icon.svg', 70px, 70px);
        margin-left: var(--header-margin-inner);
      }
    }
  }
}
