:root {
  --header-margin-outer: 90px;
  --header-margin-inner: 20px;
  --header-height: 170px;
  --header-tb-padding: 50px; // tb - top-bottom
  @include tabletLarge {
    --header-margin-outer: 20px;
    --header-margin-inner: 10px;
    --header-height: 120px;
    --header-tb-padding: 25px;
    
  }
  @include tablet {
    --header-height: 100px;
    --header-tb-padding: 15px 40px;

  }
  @include mobile {
    --header-height: 65px;
    --header-tb-padding: 12px;
  }

  
}

//////////////

.header {
  padding: var(--header-tb-padding) var(--lr-paddings);
  position: fixed;
  background: $light-grey;
  width: 100%;
  height: var(--header-height);
  @include baseFlexStyle(center, space-between);
  z-index: 20;
  font-weight: 400;
  @include tablet {
    padding: 15px 40px;
  }
  @include mobile {
    padding: 15px;
  }
  

  &-left {
    @include baseFlexStyle(center);
    @include tablet {
      order: 2;
      justify-content: flex-end;
      width: 80%;
      margin-right: 30px;
    }
    @include mobile {
      margin-right: 0;
    }

    &__link {
      color: $dark-grey;
      font-size: 14px;
      @include tablet {
        order: 2;
        font-size: 0;
      }
    }
  }

  &-link {
    &-houses {
      @include baseFlexStyle(center);
      font-weight: 600;

      &::before {
        @include after-before-img('../images/header/houses-icon.svg', 70px, 70px);
        margin-right: var(--header-margin-inner);
        @include tablet {
          margin-right: 0;
        }
        @include mobile {
          background-size: 45px 45px;
          width: 45px;
          height: 45px;
        }
      }
    }

    &-tel {
      font-size: 18px;
      margin-left: var(--header-margin-outer);
      @include tablet {
        display: none;
      }
    }
  }

  &__logo {
    &-link {
      @include baseFlexStyle(center);
      @include tablet {
        order: 1;
      }
    }

    &-img {
      @include setImgWidth(240px);
      @include tablet {
        width: 226px; 
      }
      @include mobile {
        width: 139px;
      }
    }
  }

  &-right {
    @include baseFlexStyle(center);
    @include tablet {
      order: 3;
    }

    &__btn {
      // font-family: 'Mont';
      // font-weight: 500;
      // font-size: 14px;
      // line-height: 100%;
      // letter-spacing: 0.01em;
      // text-transform: uppercase;
      // color: $dark-grey;
      @include setFontStyle('Mont', 14px, 500, $dark-grey, 100%, 0.01em);
    }
  }

  &-btn {
    &-call {
      margin-right: var(--header-margin-outer);
      @include tablet {
        font-size: 0;
        margin-right: 30px;
        &::after {
          @include after-before-img('../images/header/phone.svg', 70px, 70px);
          margin-left: var(--header-margin-inner);
        }
      }
      @include mobile {
        margin-right: 0;
        font-size: 0;
        &::after {
          background-size: 45px 45px;
          width: 45px;
          height: 45px;
          margin-left: var(--header-margin-inner);
        }
      }
      
    }

    &-menu {
      font-weight: 600;
      @include baseFlexStyle(center);
      @include tablet {
        font-size: 0;
      }

      &::after {
        @include after-before-img('../images/header/burger-icon.svg', 70px, 70px);
        margin-left: var(--header-margin-inner);
        @include mobile {
          background-size: 45px 45px;
          width: 45px;
          height: 45px;
        }
      }
    }
  }

  // .fw-600 {
  //   font-weight: 600;
  // }
}
